<footer>
  <div class="container">
    <div class="footer-content">
      <div class="social-media">
        <a href="#"><img src="/assets/images/github.svg" alt="Github"></a>
        <a href="#"><img src="/assets/images/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="/assets/images/linkedin.svg" alt="Linkedin"></a>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .footer-content {
    margin-bottom: 20px;
  }

  .social-media a {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
  }
</style>
