<footer>
  <div class="container">
    <div class="footer-content">
    <div class="footer-bottom">
      <p>&copy; {{ site.title }} {{ "now" | date: "%Y" }}</p>
    </div>
      <div class="social-media">
        
        <a href="mailto:sabir.s.bagwan@gmail.com"><img src="/assets/images/gmail.svg" alt="Gmail"></a>
        <a href="https://www.linkedin.com/in/sabirbagwan/"><img src="/assets/images/linkedin.svg" alt="Linkedin"></a>
        <a href="https://twitter.com/sabirbagwan_"><img src="/assets/images/twitter.svg" alt="Twitter"></a>
        <a href="https://www.kaggle.com/sabirbagwan"><img src="/assets/images/kaggle.svg" alt="Kaggle"></a>
        <a href="https://github.com/sabirbagwan"><img src="/assets/images/github.svg" alt="Github"></a>


      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .footer-content {
    margin-bottom: 20px;
  }

  .social-media a {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }
  
  
    .footer-bottom p {
    font-size: 14px;
    color: #777;
  }
</style>
