
<html>
<head>
  <title>Resume</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
    .section {
      margin-bottom: 30px;
    }
    .section-header {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .section-content {
      margin-top: 10px;
    }
    .skills-list {
      list-style-type: none;
      padding-left: 0;
    }
    .contact-info {
      margin-bottom: 20px;
    }
    .contact-info p {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  
 <a href="resume.pdf" download>Download PDF</a>
  <br>
  <br>

  <div class="contact-info">
    <h1>Sabir Bagwan | <em>Data Scientist</em></h1>

    <p>sabir.s.bagwan@gmail.com</p>
    <p><a href="https://sabirbagwan.github.io/" target="_blank">sabirbagwan.github.io</a> |
      <a href="https://www.linkedin.com/in/sabirbagwan" target="_blank">LinkedIn</a> |
    <a href="https://www.kaggle.com/sabirbagwan" target="_blank">Kaggle</a> |
    <a href="https://github.com/sabirbagwan" target="_blank">GitHub</a> |
      <a href="https://www.twitter.com/sabirbagwan_" target="_blank">Twitter</a></p>

<!--     <p>Website: sabirbagwan.github.io</p> -->
  </div>
  
  <div class="section">
    <div class="section-header">
<!--       <h2>Education</h2> -->
      <h2><b>Education</b></h2>

    </div>
    <div class="section-content">
<!--       <h3>MBA (Finance) | Mumbai University, Mumbai, India | 2015-2017</h3> -->
      <h3>MBA (Finance) | <span style="font-size: smaller;">Mumbai University, Mumbai, India | <em>2015-2017</em></span></h3>
      <h3>Engineering (IT) | <span style="font-size: smaller;">Nagpur University, Nagpur, India | <em>2009-2014</em></span></h3>

<!--       <p>Mumbai University, Mumbai, India</p> -->
<!--       <p>2015-2017</p> -->
    </div>
<!--     <div class="section-content">
      <h3>Engineering (IT)</h3>
      <p>Nagpur University, Nagpur, India</p>
      <p>2009-2014</p>
    </div>-->
  </div> 
  
  <div class="section">
    <div class="section-header">
      <h2><b>Experience</b></h2>
    </div>
    <div class="section-content">
      <h3>Contributor | <span style="font-size: smaller;">Self Employed | <em>Jan 2022 - Present</em></span></h3>
      <h3>Data Analyst & Derivatives Trader | <span style="font-size: smaller;">Self Employed | <em>Jan 2019 - Present</em></span></h3>
      <h3>Business Development Associate | <span style="font-size: smaller;">BYJU'S · Mumbai, India | <em>Oct 2017 - Jan 2018</em></span></h3>
      <h3>Market Analyst | <span style="font-size: smaller;">Lotus Knowlwealth Pvt Ltd · Internship ·  Mumbai, India | <em>May 2016 - Jun 2016</em></span></h3>
<!--       <h3>Contributor</h3> -->
<!--       <p>Self Employed</p> -->
<!--       <p>Jan 2022 - Present</p> -->
<!--       <ul class="skills-list"> -->
<!--         <li>Responsibility 1</li> -->
<!--         <li>Responsibility 2</li> -->
<!--         <li>Responsibility 3</li> -->
<!--       </ul> -->
    </div>
  </div>
  
    <div class="section">
    <div class="section-header">
      <h2><b>Projects</b></h2>
    </div>
      <p><a href="https://huggingface.co/spaces/sabirbagwan/WhatsappGroupAnalysis" target="_blank">Whatsapp Group Aalyser</a> | 
        <a href="https://huggingface.co/spaces/sabirbagwan/ExifRemoval" target="_blank">EXIF Removal</a> |
      <a href="https://huggingface.co/spaces/sabirbagwan/Text_summary" target="_blank">Text Summarizer</a></p>
<!--     <div class="section-content"> -->
<!--       <p> -->
<!--         <li><a href="https://huggingface.co/spaces/sabirbagwan/WhatsappGroupAnalysis" target="_blank">Whatsapp Group Aalyser</a></li> |  -->
<!--         <li><a href="https://huggingface.co/spaces/sabirbagwan/ExifRemoval" target="_blank">EXIF Removal</a></li></p> -->
<!--       <ul class="skills-list"> -->
<!--         <li><a href="https://huggingface.co/spaces/sabirbagwan/WhatsappGroupAnalysis" target="_blank">Whatsapp Group Aalyser</a></li> -->
<!--       </ul> -->
<!--     </div> -->
  </div>
  
  
  <div class="section">
    <div class="section-header">
      <h2><b>Skills</b></h2>
    </div>
    <div class="section-content">
      <p>Python, Data Science, NLP, Machine Learning
      </p>
    </div>
  </div>
</body>
</html>

