
<html>
<head>
  <title>Resume</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
    .section {
      margin-bottom: 30px;
    }
    .section-header {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .section-content {
      margin-top: 10px;
    }
    .skills-list {
      list-style-type: none;
      padding-left: 0;
    }
    .contact-info {
      margin-bottom: 20px;
    }
    .contact-info p {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  
<!-- <a src="SabirBagwan_CV.pdf" download>Download PDF</a>  -->
<a href="assets/SabirBagwan_CV.pdf" >
  PDF version available here
</a>
  <br>
  <br>
  <div class="contact-info">
    <h1>Sabir Bagwan | <em>Data Scientist</em></h1>

    <p>sabir.s.bagwan@gmail.com</p>
    <p><a href="https://sabirbagwan.github.io/" target="_blank">sabirbagwan.github.io</a> |
      <a href="https://www.linkedin.com/in/sabirbagwan" target="_blank">LinkedIn</a> |
    <a href="https://www.kaggle.com/sabirbagwan" target="_blank">Kaggle</a> |
    <a href="https://github.com/sabirbagwan" target="_blank">GitHub</a> |
      <a href="https://www.twitter.com/sabirbagwan_" target="_blank">Twitter</a></p>

  </div>
  
  <div class="section">
    <div class="section-header">
      <h2><b>Experience</b></h2>
    </div>
    <div class="section-content">
<!--       <h3>Data Science Mentor | <span style="font-size: smaller;">Self Employed | <em>Jan 2022 - Present</em></span></h3>
      <h3>Content Creator | <span style="font-size: smaller;">YouTube | <em>Jan 2022 - Present</em></span></h3> -->
      <h3>Contributor | <span style="font-size: smaller;">Self Employed | <em>Jan 2022 - Present</em></span></h3>
      <h3>Data Analyst & Derivatives Trader | <span style="font-size: smaller;">Self Employed | <em>Jan 2019 - Present</em></span></h3>
      <h3>Business Development Associate | <span style="font-size: smaller;">BYJU'S · Mumbai, India | <em>Oct 2017 - Jan 2018</em></span></h3>
      <h3>Market Analyst | <span style="font-size: smaller;">Lotus Knowlwealth Pvt Ltd · Internship ·  Mumbai, India | <em>May 2016 - Jun 2016</em></span></h3>
    </div>
  </div>
  
  
    <div class="section">
    <div class="section-header">
      <h2><b>Work</b></h2>
    </div>
    <div class="section-content">
      

      
      <h3 style="display: inline;">Blogs:</h3>
<p style="display: inline;"><a href="https://sabirbagwan.github.io/archive.html" target="_blank" style="font-size: 100%;">On this website</a> |
<a href="https://www.linkedin.com/in/sabirbagwan/recent-activity/articles/" target="_blank" style="font-size: 100%;">On LinkedIn</a> |
<a href="https://medium.com/@sabirbagwan" target="_blank" style="font-size: 100%;">On Medium</a></p>
<!--       <br>
      <h3 style="display: inline;">Videos:</h3>
<p style="display: inline;"><a href="https://www.youtube.com/@databeans/videos" target="_blank" style="font-size: 90%;">YouTube</a></p> -->
      
  
    </div>
  </div>
  
  
  
  
    <div class="section">
    <div class="section-header">
      <h2><b>Projects</b></h2>
    </div>
      <p><a href="https://huggingface.co/spaces/sabirbagwan/WhatsappGroupAnalysis" target="_blank">Whatsapp Group Aalyser</a> | 
        <a href="https://huggingface.co/spaces/sabirbagwan/ExifRemoval" target="_blank">EXIF Removal</a> |
        <a href="https://huggingface.co/spaces/sabirbagwan/Sip" target="_blank">SIP Analyser</a> |
        <a href="https://huggingface.co/spaces/sabirbagwan/Text_summary" target="_blank">Text Summarizer</a>
      </p>

  </div>
  
  
  <div class="section">
    <div class="section-header">
      <h2><b>Education</b></h2>

    </div>
    <div class="section-content">
      <h3>MBA (Finance) | <span style="font-size: smaller;">Mumbai University, Mumbai, India | <em>2015-2017</em></span></h3>
      <h3>Engineering (IT) | <span style="font-size: smaller;">Nagpur University, Nagpur, India | <em>2009-2014</em></span></h3>
    </div>
  </div> 
  
  <div class="section">
    <div class="section-header">
      <h2><b>Skills</b></h2>
    </div>
    <div class="section-content">
      <p>Python, Data Science, NLP, Machine Learning
      </p>
    </div>
  </div>
  
  <div class="section">
    <div class="section-header">
      <h2><b>Human Languages</b></h2>
    </div>
    <div class="section-content">
      <p>English, Hindi, Marathi
      </p>
    </div>
  </div>
  
</body>
</html>

