
---
layout: default
---

<!-- <div class="row">
  {% assign sorted_projects = site.projects | reverse %}
  {% for project in sorted_projects %}
    <div class="column">
      <a href="{{ project.url }}">
        <img src="{{ project.image }}" alt="{{ project.title }}" class="thumbnail">
        <h3>{{ project.title }}</h3>
      </a>
    </div>

    {% if forloop.index0 % 3 == 2 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
 -->
  <div class="row">
    {% for project in site.data.projects %}
      <div class="column">
        <a href="{{ project.url }}">
          <div class="card">
            <div class="thumbnail">
              <img src="{{ project.image }}" alt="{{ project.title }}">
            </div>
            <h3>{{ project.title }}</h3>
          </div>
        </a>
      </div>

      {% if forloop.index0 % 3 == 2 %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
