<!-- ---
layout: default
---

<div class="row">
  {% for project in site.projects %}
    <div class="column">
      <a href="{{ project.url }}">
        <img src="{{ project.image }}" alt="{{ project.title }}">
        <h3>{{ project.title }}</h3>
      </a>
    </div>
  {% endfor %}
</div>
 -->

<!-- ---
layout: default
---

<div class="row">
  {% for project in site.projects %}
    <div class="column">
      <a href="{{ project.url }}">
        <img src="{{ project.image }}" alt="{{ project.title }}">
        <h3>{{ project.title }}</h3>
      </a>
    </div>

    {% if forloop.index0 % 3 == 2 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>
 -->


---
layout: default
---
<!-- 
<div class="row">
  {% for project in site.projects %}
    <div class="column">
      <div class="card">
        <a href="{{ project.url }}">
          <img src="{{ project.image }}" alt="{{ project.title }}">
          <h3>{{ project.title }}</h3>
        </a>
      </div>
    </div>

    {% if forloop.index0 % 3 == 2 %}
      </div><div class="row">
    {% endif %}
  {% endfor %}
</div>

 -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="row">
    {% for project in site.projects %}
      <div class="column">
        <a href="{{ project.url }}">
          <div class="card">
            <img src="{{ project.image }}" alt="{{ project.title }}" width="250">
            <h3>{{ project.title }}</h3>
          </div>
        </a>
      </div>

      {% if forloop.index0 % 3 == 2 %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>

